QMainWindow {
    background: #3c434f;
}

QLabel {
    background-color: #252a33;
    font-family: "Pixel Operator";
    font-size: 25px;
    color: white;
    padding: 8px;
    border-radius: 8px;
}

QComboBox {
    background-color: #7d92b8;
    font-family: "Pixel Operator";
    color: white;
    font-size: 22px;
    padding: 8px;
    border-radius: 8px;
}

QComboBox:disabled {
    background-color: #7d92b8;
    font-family: "Pixel Operator";
    color: #84878c;
    font-size: 22px;
    padding: 8px;
    border-radius: 8px;
}


QPushButton {
    background: #252a33;
    color: white;
    font-family: "Pixel Operator";
    font-size: 25px;
    padding: 10px;
    border-radius: 8px;
}

QPushButton:hover {
    background: #747f91;
    color: black;
}
